@model IEnumerable<Księgarnia.Models.Favourities>

@{
    ViewData["Title"] = "Index";
}

<h1><center>Favourities</center></h1>


<div class="container-fluid mt-2 mb-5">
    <div class="products">
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row g-3">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <img src="@Url.Content(item.Article.FilePath)" asp-append-version="true" width="50" height="250" class="card-img-top">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between"> <span class="font-weight-bold"> @Html.DisplayFor(modelItem => item.Article.Name)</span> </div>


                                </div>
                                <hr>
                                <div class="card-body">
                                    <div>
                                        <input type="button" class="btn btn-outline-dark" value="Details" name="back"
                                           onclick="@("location.href='"
                                   + Url.Action("Details", "Articles", new { id = item.Id })
                                   + "'")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>