@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<br />



<div>
    <h3 style="bold">Kontakt:</h3>
    <h4>Nr telefonu: + 48 737 653 626</h4>
    <h4>Adres: ul. Świdnicka 14, 51-039 Wrocław</h4>
</div>
