@model Księgarnia.Models.Client

@{
    ViewData["Title"] = "Create";
}



<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
           
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h2 style="font-size:20px;color:green;text-align:center">@ViewBag.zalogowano</h2>
<h2 style="font-size:20px;color:red;text-align:center">@ViewBag.niezalogowano</h2>


<div>
    <a asp-controller="Articles" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
